* {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1E1E1E;
    font-family: "Segoe UI";
}

.main-header {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #20232A;
    color: white;
}

.main-header a:hover {
    color:#7596E4;
}

.main-header a:focus {
    outline:0;
    background-color:#373940;
    border-radius:15px;
}

.header__container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

.main-header .logo {
    height: 40px;
    margin: 10px 20px;
}

.main-header .logo img {
    height: 100%;
}

.main-header .pages .page{
    padding: 5px 10px;
}

.main-header .other__button {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    white-space: nowrap;
    font-size: 14px;
}

.main-header .other__button svg.open-link {
    margin-left: 5px;
    vertical-align: -2px;
    color: #6B6B6B;
}

.additional-header {
    margin-top: 60px;
    background:
            linear-gradient(rgba(50, 50, 50, 0.7), rgba(0, 0, 0, 0.8)),
            url("https://www.datocms-assets.com/38511/1621602995-sketch.png?auto=format") center center / cover;
}

.additional-header__container {
    padding-top: 95px;
    padding-bottom: 85px;
}

.additional-header__content {
    margin: 0 auto;
    padding: 0 20px;
}

.additional-header .logo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.additional-header .logo-title img {
    height: 100%;
    margin-right: 15px;
}

.additional-header .logo-title h1 {
    color: #7596E4;
    font-size: 65px;
}

.additional-header .description {
    padding-top: 15px;
    text-align: center;
    font-size: 24px;
    letter-spacing: 0.01em;
    font-weight: 200;
}

.additional-header__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.additional-header__bottom .start-button {
    text-align: right;
    padding-right: 7px;
    padding-left: 7px;
}

.additional-header__bottom .start-button a {
    display: inline-block;
    font-size: 16px;
    background-color: #7596E4;
    color: #000000;
    padding: 10px 25px;
    white-space: nowrap;
    transition: background-color 0.2s ease-out;
}

.additional-header__bottom .start-button a:hover {
    background-color: #ffffff;
}

.additional-header__bottom .tutorial-button {
    padding-left: 15px;
    padding-right: 7px;
}

.additional-header__bottom .tutorial-button a {
    display: inline-block;
    font-size: 16px;
    color: #7596E4;
    transition: color 0.2s ease-out;
}

.additional-header__bottom .tutorial-button a:hover {
    color:#ffffff;
}


main {
    flex: 1 1 auto;
    width: 90%;
    margin: 0 auto;
}

main section {
    margin: 60px auto 65px;
    line-height: 25px;
}

section h3 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 20px;
}

main .greeting {
    font-size: 18px;
}

main .about-project {
    display: flex;
    column-gap: 40px;
}

main .about-project__content {
    display: flex;
    flex-direction: column;
}

main .about-project__content h3 {
    color: #8B67BD;
}

main .about-project__content p {
    font-size: 16px;
    margin-top: 25px;
}

main .about-project__content p:first-child {
    margin-top: 0;
}
